<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H2 Database</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <h4>Create new album</h4>

    <form action="/" th:action="@{/create-movie}" method="POST" th:object="${album}">
        Title:<br/>
        <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Title"/>
        <br/>
        Genres:<br/>
        <input type="text" class="form-control" id="tags" th:field="*{genreCategory}"  placeholder="Genre"/>
        <br/>
        Artist:<br/>
        <input type="text" class="form-control" id="language" th:field="*{artistName}" placeholder="Artist"/>
        <br/>

        <input type="hidden" id="id" th:field="*{id}">
        <br/>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>

</body>
</html>