<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Music</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container" style="text-transform: lowercase">
    <h3>Genres written in the database</h3>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Categories</th>
            <th></th>
        </tr>
        <tr th:each="c : ${category}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.category}"></td>
            <td>
                <a th:href="@{/genre/edit/{id}(id=${c.id})}" class="btn btn-success btn-sm" role="button">Update</a>
                <a th:href="@{/genre/delete/{id}(id=${c.id})}" class="btn btn-danger btn-sm" role="button">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/artists">
        <button class="btn btn-light">See all artists</button>
    </a>
    <a href="/genres">
        <button class="btn btn-light">See all genres</button>
    </a>
    <a href="/">
        <button class="btn btn-light">See all albums</button>
    </a>
</div>
<br>

</body>
<footer style="text-transform: lowercase; float: right; text-align: right; padding: 12px;">
    <small>A website by Dejan Alija. <br>Designed in bootstrap. <br>Local MySQL database running through IntelliJ</small>
</footer>
</html>