<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>H2 Database</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <h1>Welcome</h1><br>
    <h3>This website reads data of albums and artist from a H2 database</h3>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Genre</th>
            <th></th>
        </tr>
        <tr th:each="a : ${albumsToReturn}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.title}"></td>
            <td th:text="${a.artistName}"></td>
            <td th:text="${a.genreCategory}"></td>
            <td>
                <a th:href="@{/album/edit/{id}(id=${a.id})}" class="btn btn-success btn-sm" role="button">Update</a>
                <a th:href="@{/album/delete/{id}(id=${a.id})}" class="btn btn-danger btn-sm" role="button">Delete</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/create-album}"><button class="btn btn-success">Create new album</button></a>
</div>

</body>
</html>